@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #ffffff;
  }
/* Pages */

  .page-header {

    color:#000000;
    background-color:#ffffff;
    font-weight:700;
  }

.navigation-link {
font-family: "PT Sans",sans-serif;
background-color: #FFFFFF
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-decoration: none;
text-transform: capitalize;
color: #000000;
  }

  .main-index {
    color: #000000;
    background-color: #ffffff;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width:1200px;
    height:485px;
  }

  .sedona-title {

    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .sedona-description{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
  }

  .sedona-city-text {

    font-family: "PT Sans";

font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
background-color: #82B3D3;
color: #FFFFFF;
  }