@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/* buttons */
.button {
  max-height: 200px;
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.subscriber-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

/* Pages */
.page-header {
  color: #000000;
  font-weight: 800;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 50px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.page-container {
  width: 1060px;
  margin: 0 auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.sedona {
  display: grid;
  padding-top: 146px;
  width: 700px;
  margin: 0 auto;
}

.sedona-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.sedona-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


/* List */
.attractions-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.sedona-city-text {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.sedona-city-text-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.sedona-city-text-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.sedona-city-img {
  display: flex;
}

.attraction {
  background-color: rgba(131, 179, 211, 0.12);

}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.attractions-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}

.attractions-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.diablo-bridge-text {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.diablo-bridge-text-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.diablo-bridge-text-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.diablo-bridge-img {
  display: flex;
}

.attractions-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.attractions-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}

.attractions-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Search */
.search {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

/*subscribe*/
.subscribe {
  text-align: center;
  color: #FFFFFF;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*footer*/
.page-footer-container {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.footer-social-list {
  width: 100px;
  margin-right: 250px;
}

.footer-academy {
  margin-left: auto;
  padding-top: 50px;
  max-width: 120px;
}

/*catalog.html*/
.main-inner {
  color: #ffffff;
  background-image: url("../images/catalog-background.jpg");
  background-size: 1200px 403px;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-hotels-search {
  display: flex;
  justify-content: space-evenly;
}

.title-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-raiting-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

/* pagination */
.page-pagination {
  display: flex;
}

.pagination {
  display: flex;
  gap: 8px;
}

.hotel-page {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select-hotel-sort {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* subscribe */
.subscribe-subscribe {
  text-align: center;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  Width: 1200px;
  Height: 411px;
}

.subscribe-title-subscribe {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscribe-description-subscribe {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

/* footer */
.footer-contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
